* {
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: hsl(0, 0%, 100%);
    text-align: center;
}

img {
    border-radius: .5rem;
    max-width: 100%;
}

.blue-box {
    background-color: hsl(212, 45%, 89%);
    box-shadow: 10px 10px 40px #ccc;
    height: 100%;
    width: 60vw;
    margin: 10rem auto;
    padding: 10rem;
}

.card {
    background-color: hsl(0, 0%, 100%);
    box-shadow: 10px 10px 40px #ccc;
    border-radius: .5rem;
    max-width: 14rem;
    margin: auto;
    padding: 1rem;
}